$color-black: #333333;
$color-blue: #82b3d3;
$color-brown: #756157;
$color-darkblue: #68a2ca;
$color-darkbrown: #615048;
$color-green: #7db54f;
$color-grey: #e6e6e6;
$color-lightgrey: #f2f2f2;
$color-white: #ffffff;

$transition-default: 0.3s ease-in-out;
