// https://www.htmlcsscolor.com/hex/000000
$color-black: #000000;
$color-white: #ffffff;
$color-red: #ff0000;
$color-sapphire: #102654;
$color-light-blue: rgb(56, 139, 253);
$color-dark-blue: #00008b;

$transition-default: 0.3s ease-in-out;
