{% extends '../main.twig' %}

{% block main %}
	<section class="section">
		<h1 class="section__heading">{{ pageHeading }}</h1>

		{% if error %}
			<p class="section__description">См. в терминале</p>
		{% endif %}
	</section>
{% endblock %}
