{% extends '../main.twig' %}

{% block main %}
	<section class="section">
		<h1 class="section__heading">{{ pageHeading }}</h1>

		{% include '../blocks/about.twig' with aboutContent %}
	</section>

	{% include '../blocks/qualities.twig' with qualities %}
{% endblock %}
