{% extends '../main.twig' %}

{% block main %}
	<section class="section">
		<h1 class="visually-hidden">{{ pageHeading }}</h1>

		<p class="section__image">
			{% include '../blocks/picture.twig' with promo.image %}
		</p>
	</section>

	{% include '../blocks/choice.twig' %}
{% endblock %}
