<div class="section__list section__list--tiles">
	<dl class="tile">
		{% for item in oneList %}
			<dt class="tile__heading">{{ item.name }}</dt>
			<dd class="tile__content tile__content--centered">{{ item.description }}</dd>
		{% endfor %}
	</dl>

	{% include '../blocks/picture.twig' with image %}

	<dl class="tile">
		{% for item in anotherList %}
			<dt class="tile__heading">{{ item.name }}</dt>
			<dd class="tile__content tile__content--centered">{{ item.description }}</dd>
		{% endfor %}
	</dl>
</div>
