<section class="about {{ bemMix }}">
	<h1 class="visually-hidden">{{ heading }}</h1>
	<div class="about__container">
		{% for item in list %}
			<ul class="about__list">
				<li class="about__label">
					{{ item.name }}
				</li>
				<li class="about__description">
					{{ item.description }}
				</li>
			</ul>
		{% endfor %}
	</div>
	<p class="about__image">
		{% include 'picture.twig' with image %}
	</p>
</section>
