<div class="buttons">
	<ul class="buttons__list">
		{% for item in buttons %}
			<li class="buttons__item">
				<a class="buttons__link btn" href="{{ item.url }}">
					{{ item.title }}
				</a>
			</li>
		{% endfor %}
	</ul>
</div>
