<section class="promo container">
	<h1 class="promo__greetings">{{ heading }}</h1>

		<p class="promo__image">
			{% include 'picture.twig' with image %}
		</p>

	<p class="promo__text" data-interval-content="{{ content }}" hidden></p>
</section>
