<section class="section">
	<h2 class="section__heading">{{ heading }}</h2>

	<p class="section__description">{{ description }}</p>

	<div class="section__list section__list--tiles">
		{% for quality in list %}
			<div class="tile tile--left">
				<h3 class="tile__heading">{{ quality.label }}</h3>

				<ul class="tile__content">
					{% for item in quality.contents %}
						<li>{{ item }}</li>
					{% endfor %}
				</ul>
			</div>
		{% endfor %}
	</div>
</section>
