.about {
	display: grid;
	grid-template-columns: 1fr 200px;
	margin: 30px 15px;
}

.about__list {
	display: flex;
	flex-direction: column;
	margin: 0 0 25px;
	padding: 0;
	list-style-type: none;
	text-align: start;
}

.about__label {
	font-weight: 800;
	font-size: 15px;
	text-align: center;
}

.about__description {
	margin: 0 0 0 5px;
	font-size: 15px;
	text-align: center;
}

.about__image {
	order: -1;
	margin: 0;
}
