.btn {
	padding: 20px 24px 19px;
	font-weight: 700;
	font-size: 18px;
	line-height: 14px;
	font-family: inherit;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	overflow-wrap: anywhere;
	text-align: center;
	background-color: transparent;
	cursor: pointer;
	user-select: none;
}
