.choice {
	padding: 20px;
}

.choice__list {
	max-width: 500px;
	margin: 0 auto;
	padding: 0;
}

.choice__item {
	display: grid;
	grid-template-columns: 1fr;
	padding: 0;
	text-decoration: none;

	:hover {
		color: $color-dark-red;
		background-color: $color-white-03;
	}
}

.choice__link {
	margin: 0 0 20px;
	padding: 20px;
	list-style-type: none;
	text-decoration: none;
	text-align: center;
	border: 3px solid $color-white;
	border-radius: 50px;
	opacity: 0;
	transition: 1s;
	animation: show 2s 1;
	animation-delay: 5.6s;
	animation-fill-mode: forwards;
}

@keyframes show {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
