.promo__greetings {
	@include visibility-a11y;
}

.promo__image {
	margin: 50px 0 20px;
	text-align: center;
}

.promo__text {
	max-width: 500px;
	margin: 0 auto 50px;
	padding: 10px;
	text-align: center;
}
