.promo {
	padding: 50px 0 0;
}

.promo__greetings {
	@include visibility-a11y;
}

.promo__image {
	margin: 0;
	text-align: center;
}

.promo__text {
	max-width: 500px;
	margin: 20px auto 10px;
	padding: 10px;
	text-align: center;
}
