.socials {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0;
	padding: 0;
	list-style: none;
}

.socials__item {
	flex-shrink: 0;
}

.socials__link {
	display: flex;
	width: 48px;
	height: 48px;
	color: $color-blue;
	border-radius: 50%;

	@include interactive-transitions;

	&:hover {
		color: $color-darkblue;
	}

	@include interactive-focus {
		color: $color-darkblue;
	}

	&:active {
		color: $color-blue;
	}

	&::before {
		content: "";
		width: 25px;
		height: 25px;
		margin: auto;
		background-color: currentColor;
	}

	@each $alias in ("vk", "instagram", "github", "telegram", "htmlacademy") {
		&--#{$alias}::before {
			@include graphic-icon($alias);
		}
	}
}
